language: node_js
node_js: stable
# before_script:
  # - git clone --branch master https://github.com/squidyu812/squidyu812.github.io public
script:
  - hexo g
after_success:
  - cd public
  - git init
  - git config user.name "${USER_NAME}"
  - git config user.email "${EMAIL}"
  - git add --all .
  - git commit -m "update"
  - git push --force --quiet https://${GH_TOKEN}@${GH_REF} master
branches:
  only:
    - hexo-source
